.ego-photo {
  width: 10%;
  margin: 1rem;

}

.team-hint {
  margin: 0;
}

.create-page {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  
}

.team-hint {
  margin-top: 1rem;
}

